body {
    background-color: #698DB4;
}

.branch{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto 5% auto;
}

iframe{
 border-radius: 25px;   
}
.branchlocation {
    text-align: left;
    height: 500px;
    display:flex;
    flex-basis: 25%;
    flex-direction: column;
    margin: 30px;
}

.googlemap {
    height: 300px;
    width: 300px;
}

address {
    line-height: 1.5;
    font-size: 20px;
    flex:1;
    padding: 10px;
    color: white;
}
div h1 {
    color: white;
}

.circle-button {
    width: 40px;
    height: 40px;
    background-color: #97c9ff00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    padding: 10px;
}

/* Style the arrow icon inside the button */
.circle-button::before {
    content: "\2192"; /* Unicode arrow right symbol */
    font-size: 30px;
}

/* Change button color on hover */
.circle-button:hover {
    background-color: #698DB4;
}

@media (max-width:1024px){
    body  {
        background-color: #698DB4;
    }
    .branch {
        width: 100%;
    }

}